<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>
    <!-- end of navbar -->

    <!-- hero -->
    <%- include('./partials/hero') %>
    <!-- end of hero -->

    <!-- products -->
    <%- include('./partials/products') %>
    <!-- end of products -->

    <!-- cart -->
    <%- include('./partials/cart') %>
    <!-- end of cart -->

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- end of footer -->

    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
